body {
	font-family: Arial, Helvetica;
	font-size: 1em;
  font-variant: normal;
	text-transform: none;
	color: #000000;
}

td,th {
	font-family: Arial, Helvetica;
	font-size: 1em;
  font-variant: normal;
	text-transform: none;
	color: #000000;
}

h2 {
	font-family: Arial, Helvetica;
	font-size: 1.4em;
  font-variant: normal;
	text-transform: none;
	color: #000000;
}

p.normal {
	font-family: Arial, Helvetica;
	font-size: 0.95em;
  font-variant: normal;
	text-transform: none;
	color: #000000;
}

.midheader {
	font-family: Arial, Helvetica;
	font-size: 1.5em;
  font-weight: bold;
  font-variant: normal;
	text-transform: none;
  color: #FFFFFF;
}

.midheaderB {
	font-family: Arial, Helvetica;
	font-size: 1.5em;
  font-weight: bold;
  font-variant: normal;
	text-transform: none;
  color: #000000;
}

.sidenavheader {
	font-family: Arial, Helvetica;
	font-size: 0.9em;
  font-weight: bold;
  font-variant: normal;
	text-transform: none;
}

.par2 {
	font-family: Arial, Helvetica;
	font-size: 0.8em;
  font-variant: normal;
	text-transform: none;
}

.par25 {
	font-family: Arial, Helvetica;
	font-size: 0.9em;
  font-variant: normal;
	text-transform: none;
}


.footer {
	font-family: Arial, Helvetica;
	font-size: 0.8em;
	font-style: italic;
  font-variant: normal;
	text-transform: none;
}

.responsive {
  width: 90%;
  height: auto;
}

.responsivefull {
  width: 100%;
  height: auto;
}

a:link { text-decoration:none }


